@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset simple */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body full */
body {
  min-height: 100vh;
  background-color: #0f172a; /* slate-900 */
  color: #f1f5f9; /* slate-100 */
}

/* Root full */
#root {
  min-height: 100vh;
}
